.breadcrumbs {
    display: none;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;

    @media screen and (min-width: 750px) {
        display: block;
        font-size: 1.3rem;
        margin-bottom: 3rem;
    }

    ol {
        list-style-type: none;
        margin: 1.5rem 0 0;
        padding: 0;

        @media screen and (min-width: 750px) {
            margin: 2rem 0 0;
        }

        li {
            display: inline-block;

            &:not(:last-child):after {
                background-color: rgba(var(--color-foreground), 0.75);
                content: "";
                display: inline-block;
                height: 1px;
                margin: 0 0.5rem;
                vertical-align: middle;
                width: 10px;
            }

            a {
                color: rgba(var(--color-foreground), 0.75);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            span {
                color: var(--color-black);
                font-weight: 400;
            }

            [aria-current="page"] {
                color: inherit;
                font-weight: normal;
                text-decoration: none;

                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }
    }

}
