.rebuy-widget {
    .rebuy-product-block {
        padding: 0;

        .rebuy-product-wrapper {
            border: 0.1rem solid rgba(var(--color-foreground), 0.08);
            border-radius: var(--media-radius);
            height: 100%;
            padding: 1.5rem;

            @media screen and (min-width: 1024px) {
                margin-bottom: 32px;
                transition: all .2s ease;

                &:hover {
                    transform: translateY(-1rem);
                    box-shadow: 0 1px 1px rgba(0,0,0,0.05),
                    0 2px 2px rgba(0,0,0,0.05),
                    0 4px 4px rgba(0,0,0,0.05),
                    0 8px 8px rgba(0,0,0,0.05),
                    0 16px 16px rgba(0,0,0,0.05),
                    0 32px 32px rgba(0,0,0,0.05);

                    .rebuy-product-image img {
                        transform: scale(1.03);
                    }

                    .rebuy-product-information {
                        opacity: 0;
                    }
                }

                .rebuy-product-image img {
                    transition: transform 500ms ease;
                }
            }

            .rebuy-product-media {
                border-radius: var(--media-radius);
                overflow: hidden;
                position: relative;

                .rebuy-product-information {
                    position: absolute;
                    left: 1rem;
                    bottom: 1rem;
                    font-size: 1.4rem;
                    display: flex;
                    justify-content: flex-start;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    gap: .5rem;

                    > div {
                        background: var(--color-merino);
                        border-radius: .3rem;
                        line-height: 1;
                        padding: .5rem;
                        color: var(--color-black);
                        text-transform: lowercase;
                    }
                }

                .rebuy-product-image {
                    padding-bottom: 100%;

                    img {
                        display: block;
                        max-width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .rebuy-product-info {
                .rebuy-product__title-price {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    line-height: 1.4;
                    gap: 2rem;

                    .rebuy-product-price {
                        margin-top: 0;
                    }
                }

                .rebuy-product-title {
                    font-size: 1.7rem;
                    font-weight: 600;
                    text-transform: none;
                    text-align: left;
                    margin-top: 0;
                }
            }

            .rebuy-product-actions {
                text-align: right;

                .rebuy-button {
                    border-radius: 3px;
                    display: inline-flex;
                    margin-left: auto;
                    width: auto;

                    svg {
                        width: 2.4rem;
                        height: auto;
                        fill: var(--color-white);
                    }
                }
            }
        }
    }

    .rebuy-carousel__arrows {
        .rebuy-carousel__arrow {
            background: none;

            &.rebuy-carousel__arrow--prev {
                left: -1.5rem;
            }

            &.rebuy-carousel__arrow--next {
                right: -1.5rem;
            }
        }
    }

    .rebuy-product__vendor {
        text-align: left;
        font-size: 1.6rem;
    }


    .rebuy-product-grid.small-carousel {
        @media (max-width: 480px) {
            padding-left: 0;
            padding-right: 0;
        }

        .splide__list {
            gap: 2rem;

            .rebuy-carousel__slide {
                flex: 0 0 calc(100% / 4 - var(--grid-desktop-horizontal-spacing)* 3);

                @media screen and (max-width: 749px) {
                    flex: 0 0 calc(100% - var(--grid-mobile-horizontal-spacing) - 3rem);
                }

                @media screen and (min-width: 750px) and (max-width: 989px) {
                    flex: 0 0 calc(100% / 3 - var(--grid-desktop-horizontal-spacing) - 3rem);
                }
            }
        }

        .splide__arrows {
            display: none;
        }

        .splide__pagination {
            gap: 1rem;

            @media screen and (max-width: 749px) {
                bottom: -1rem;
            }

            li {
                &:first-of-type {
                    .splide__pagination__page {
                        background: url('./spoon.svg');
                        transform: rotate(180deg);
                    }
                }

                &:last-of-type {
                    .splide__pagination__page {
                        background: url('./spoon.svg');
                    }
                }

                .splide__pagination__page {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    opacity: 1;

                    &.is-active {
                        opacity: 0.3;
                    }
                }
            }
        }
    }

    .rebuy-product-grid.large-carousel {
        @media (min-width: 768px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

[data-rebuy-component=cross-sell-widget] {
    padding: 0;

    .rebuy-widget {
        .rebuy-product-grid {
            .splide__track {
                padding-top: 2rem;

                @media screen and (min-width: 750px) {
                    overflow: visible;
                }

                .splide__list {
                    .rebuy-product-block {
                        flex: 0 0 calc(50% - var(--grid-mobile-horizontal-spacing));
                    }
                }
            }
        }
    }
}
