.collection-row-wrapper {
    .collection-row {
        margin-bottom: 1rem;

        @media screen and (min-width: 750px) {
            margin-bottom: 3rem;
        }
    }

    .slider-buttons {
        @media screen and (min-width: 750px) {
            display: none;
        }
    }
}

.collection-row {
    margin: 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.collection-row__item {
    flex: 0 0 calc(75% - var(--grid-mobile-horizontal-spacing));
    width: calc(75% - var(--grid-mobile-horizontal-spacing));
    position: relative;

    @media screen and (min-width: 750px) {
        flex: 0 0 15%;
        width: 15%;
    }

    &.slider__slide {
        padding: 0 !important;
    }

    &::after {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        bottom: 0;
        content: '';
        display: block;
        height: 75%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 0;
    }

    .card--media {
        .card__inner {
            height: 0;
            padding-bottom: 25%;
        }

        .card__content {
            bottom: 0;
            left: 0;
            padding: 0.5rem 1rem;
            position: absolute;
            z-index: 1;

            .card__information {
                padding: 0;

                a {
                    color: var(--color-white);
                    font-weight: 600;
                }
            }
        }
    }
}

.collection-card-small-wrapper .card__heading a {
    display: flex;
    justify-content: flex-start;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

@media screen and (min-width: 750px) {
    .collection-row__item a:hover {
        box-shadow: none;
    }
}
