.collection-list {
  margin-top: 0;
  margin-bottom: 0;

  &:not(.slider) {

    .collection-list__item {
        aspect-ratio: 1 / 1;

        @media screen and (min-width: 750px) {
            aspect-ratio: 16 / 9;
        }
    }

    .card-wrapper {
      .card {

        > .card__content {
          @media screen and (max-width: 749px) {
            border: 1px solid #e5e5e5;
            border-radius: var(--media-radius);
          }

          .card__information {
            align-items: end;
            display: flex;
            padding: 0;

            .card__heading {
              .full-unstyled-link {
                font-size: 1.6rem;
                font-weight: 700;
                padding: 1rem;

                .icon-wrap {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }

  .card-wrapper {
    .card {
      position: relative;

      .card__inner {
        border-radius: var(--media-radius);
        overflow: hidden;
      }

      > .card__content {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 1;


        .card__information {
          display: flex;
          padding: 0;
          align-items: end;

          .card__heading {
            .full-unstyled-link {
              align-items: center;
              display: flex;
              line-height: 2rem;
              text-align: center;
              color: rgb(var(--color-background));
              font-size: 1.6rem;
              padding: 1rem;

              .collection-icon {
                margin-right: 1rem;
                filter: invert(1);

                @media screen and (max-width: 750px) {
                    margin-right: 0;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
              }
            }
          }
        }
      }
    }
  }
}

.collection-list-title {
  margin: 0;
}

.collection-list__item {
  position: relative;

  &:only-child {
    max-width: 100%;
    width: 100%;
  }
}

/*@media screen and (max-width: 749px) {*/
/*  .collection-list {*/
/*    &:not(.slider) {*/
/*      padding-left: 0;*/
/*      padding-right: 0;*/
/*    }*/

/*    .grid__item.collection-list__item {*/
/*      max-width: unset;*/
/*      width: 100%;*/

/*      &:not(:last-of-type) {*/
/*        margin-bottom: 1.5rem;*/
/*      }*/
/*    }*/
/*  }*/

/*  .slider.collection-list--1-items {*/
/*    padding-bottom: 0;*/
/*  }*/
/*}*/

@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider.collection-list--1-items,
  .slider.collection-list--2-items,
  .slider.collection-list--3-items,
  .slider.collection-list--4-items {
    padding-bottom: 0;
  }
}

.collection-list__item {
    &::after {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      bottom: 0;
      content: '';
      display: block;
      height: 75%;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 0;
    }

    a:hover {
      box-shadow: none;
    }
}

@media screen and (max-width: 989px) {
  .collection-list.slider .collection-list__item {
    max-width: 100%;
  }
}

.collection-list-view-all {
  margin-top: 2rem;
}
