.collection {
  @media screen and (min-width: 750px) {
    .collection--wrapper {
      position: relative;

      .collection__view-all {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .grid__item {
    &:first-of-type {
      .card {
        .card--background {
          background-color: var(--color-hush-puppy);
        }
      }
    }

    &:nth-of-type(2) {
      .card {
        .card--background {
          background-color: var(--color-antiqued-aqua)
        }
      }
    }

    &:nth-of-type(3) {
      .card {
        .card--background {
          background-color: var(--color-kettle-corn);
        }
      }
    }

    &:nth-of-type(4) {
      .card {
        .card--background {
          background-color: var(--color-tana-flat);
        }
      }
    }

    .card {
      padding: 3rem;
      position: relative;

      .card__information {
        padding: 4rem 0 0;
      }

      .card__name-container {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 3rem;

        .card__name {
          .card__heading {
            font-size: 1.7rem;
          }
        }

        .card__price {
          font-size: 1.7rem;
          font-weight: 600;
        }
      }

      .card--background {
        border-radius: var(--media-radius);
        bottom: 0;
        display: block;
        height: 65%;
        left: 0;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: -1;
      }
    }
  }
}

@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  position: absolute;
  z-index: 1;
  width: 1.8rem;
}

@media screen and (max-width: 749px) {
  .collection .loading-overlay {
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    left: 0;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description > * {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

.collection__view-all a:not(.link) {
  margin-top: 1rem;
}
